<h1>出欠ボード作成画面</h1>
<div id="schedule_message">以下のカレンダから日程を選んでください。</div>
<div class="monthly" id="mycalendar"></div>
<div id="cols">
	<label id="schedule_cols" name="日程">日程</label>
	<label id="comment_cols" name="コメント">コメント</label>
	<label id="delete_schedule_cols" name="日程削除">日程削除</label>
</div>
<input type="作成完了" name="">