<h1>出欠ボード作成画面</h1>
<div id="schedule_message">以下のカレンダから日程を選んでください。</div>
<div id=calendar></div>
<div class="monthly" id="mycalendar"></div>
<table id="attend-input-table">
  <tr id="cols">
    <th class="attend-header-schedule">日程</th>
    <th class="attend-header-comment">コメント</th>
    <th class="attend-header-schedule-delete">日程削除</th>
  </tr>
</table>
<!-- <div id="cols">
  <label id="schedule_cols" name="日程">日程</label>
  <label id="comment_cols" name="コメント">コメント</label>
  <label id="delete_schedule_cols" name="日程削除">日程削除</label>
</div> -->
<input type="作成完了" id="created" name="">