<h1>出欠ボード</h1>
<div id="attend_button">
  <input type="button" id="add_attend_button" name="出欠記入" value="出欠記入">
  <input type="button" id="update_attend_button" name="出欠変更" value="出欠変更">
  <input type="button" id="delete_attend_button" name="出欠削除" value="出欠削除">
</div>
<div id=calendar></div>