<!DOCTYPE html>
<html>
  <head>
    <title>AttendanceConfirmationCollaboration</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="monthly/monthly.css">
    <script type="text/javascript" src="monthly/jquery.js"></script>
    <script type="text/javascript" src="monthly/monthly.js"></script>
    <script type="text/javascript" src="create_attend_bord/create_attend_bord.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
